# This workflow will build a Java project with Ant
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-ant

name: Publish new tagged version

on:
  push:
    branches: [ "main" ]
    tags: ["*"]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
    - name: Build with Ant
      run: ant -noinput -buildfile build.xml
    
    - name: Upload compgen-common JAR
      uses: actions/upload-artifact@v4
      with:
        name: compgen-common.jar
        path: dist/compgen-common-*.jar

    - name: Release (tagged)
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          dist/compgen-common*jar
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

